.filters {
    position: relative;
}

.filters__button {
    border: none;
    background: var(--white);
    border-radius: 100px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.filters__button:hover {
    transform: scale(1.1);
    background-color: var(--primary-white);
}

.filters__button-text {
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-black);
}

.filters__button-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.filters__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 10px 30px var(--filters-dropdown-shadow);
    min-width: 280px;
    border: 1px solid var(--primary-white);
    width: 240px;
    padding: 8px;
}

.filters__dropdown--show {
    display: block;
    animation: filtersSlideDown 0.2s ease;
}

@keyframes filtersSlideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.filters__group-title {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--primary-gray);
    padding: 8px 16px 4px 16px;
}

.filters__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filters__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
    transition: opacity 0.2s;
}

.filters__option:hover {
    background-color: var(--options-filters);
    border-radius: 6px;
}

.filters__checkbox {
    display: none;
}

.filters__checkmark {
    width: 18px;
    height: 18px;
    border: 1px solid var(--primary-white);
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    transition: all 0.2s;
    flex-shrink: 0;
    background: var(--white);
}

.filters__checkbox:checked .filters__checkmark {
    background: var(--primary-black);
    border-color: var(--primary-black);
}

.filters__checkbox:checked .filters__checkmark::after {
    content: "✓";
    position: absolute;
    color: var(--white);
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filters__checkmark--gray, .filters__checkbox:checked .filters__checkmark--gray {
    background: var(--gray-checkbox-filters);
    border-color: var(--gray-checkbox-filters);
}

.filters__checkmark--green, .filters__checkbox:checked .filters__checkmark--green {
    background: var(--green-checkbox-filters);
    border-color: var(--green-checkbox-filters);
}

.filters__checkmark--red, .filters__checkbox:checked .filters__checkmark--red {
    background: var(--red-checkbox-filters);
    border-color: var(--red-checkbox-filters);
}

.filters__option-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-dark-gray);
}