.header {
    background-color: var(--white);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    height: 72px;
    padding: 14px;
    justify-content: space-between;
    width: 1440px; 
}

.header__nav {
    display: flex;
    gap: 8px;
}

.header__button {
    border: 1px solid var(--primary-white);
    background-color: var(--white);
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
}

.header__button-text {
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-black);
}

.brand {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.brand__logo {
    width: 32px;
    height: 32px;
}

.brand__name {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-dark-gray);
}

.action-section {
    display: flex;
    gap: 8px;
    width: 406px;
    justify-content: right;
}

.action-section__button {
    display: flex;
    border: 1px solid var(--primary-white);
    background-color: var(--white);
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s ease;

}

.action-section__button:hover {
    transform: scale(1.2);
    background-color: var(--primary-white);
}

.action-section__button_img {
    width: 24px;
    height: 24px;
}

.subheader {
    padding: 32px 0;
}

.subheader__content {
    width: 1372px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader__title {
    font-weight: 600;
    font-size: 1.875rem;
    color: var(--primary-black);
    cursor: pointer;
}