:root {
    --white: #ffffff;
    --primary-white: #eaecf0;
    --primary-black: #0d1421; 
    --primary-gray: #667085;
    --primary-dark-gray: #354153;
    --background: #f5f5f5;
    --options-filters: #F2F4F7;
    --gray-checkbox-filters: #B0B0B0;
    --green-checkbox-filters: #517455;
    --red-checkbox-filters: #B05955;
    --filters-dropdown-shadow: rgba(0, 0, 0, 0.15);
    --product-card-shadow: rgba(0, 0, 0, 0.1);
    --snow-shadow: rgba(255, 255, 255, 0.8);
}

* {
    box-sizing: border-box; 
    margin: 0;
    font-family: 'Inter';
}

body {
    height: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}